* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #e9e9e9;
}

.home_container {
    background: #fff;
    margin: 120px 0;
    padding: 50px 60px;
}

.home_container .title_and_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.home_container .headline_news {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.home_container .headline_news .news {
    width: 400px;
}

.home_container .headline_news img {
    width: 400px;
    height: 250px;
}

.home_container .headline_news h2 {
    font-size: 20px;
}