.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    color: #fff;
    z-index: 100;
}

.logo h1 {
    font-size: 26px;
}

.menu_items {
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.menu_items a {
    color: #fff;
}

.search input {
    padding: 10px 20px;
    background: #202224;
    color: #fff;
    border: none;
    outline: none;
    transition: 0.2s;
}

.nav_container ::placeholder {
    color: #fff;
}

.search button {
    padding: 10px 20px;
    background: #202224;
    color: #fff;
    outline: none;
    border: none;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.responsive_menu_items {
    display: none;
}

.hamburger {
    display: none;
}

@media (max-width: 500px) {
    .menu_items {
        display: none;
    }
    button {
        display: none;
    }
    input {
        display: none;
    }
    .news {
        margin-bottom: 15px;
    }
    .hamburger {
        display: block;
        font-size: 24px;
    }
    .home_container {
        padding: 40px;
    }
    .article_container .article {
        width: 330px;
    }
    .home_container .headline_news img {
        width: 330px;
    }
    .responsive_menu_items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        position: fixed;
        top: 80px;
        right: 0px;
        background: #fff;
        height: 100vh;
        padding-top: 40px;
        padding-left: 40px;
        width: 230px;
        transition: all .3s;
    }
    .responsive_menu_items {
        transform: translateX(150%);
    }
}

@media (min-width: 501px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 1200px) {}