.WeatherErrorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.WeatherErrorContainer img {
    width: 350px;
    border-radius: 10px;
}